<footer>
  <div class="container-fluid">
    <div class="topfooter">
      <div class="sms">
        <mat-icon>email</mat-icon>
        <div class="name">
          <h1>Subscribe To Our Newsletter</h1>
          <p>Get all the latest information on Events, Sales and Offers.</p>
        </div>
      </div>
      <div class="search">
        <form class="d-flex">
          <input
            class="form-control"
            type="search"
            placeholder="Search"
            aria-label="Search"
          />
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
    <div class="bottomfooter">
      <div class="menus">
        <h1>Coustomer Service</h1>
        <ul>
          <li>
            <a href="">Help & FAQs</a>
          </li>
          <li>
            <a href="">Oder History</a>
          </li>
          <li>
            <a href="">Login</a>
          </li>
        </ul>
      </div>
      <div class="menus">
        <h1>About us</h1>
        <ul>
          <li>
            <a href="">About us</a>
          </li>
          <li>
            <a href="">Oder Store</a>
          </li>
          <li>
            <a href="">Terms & Conditions</a>
          </li>
          <li>
            <a href="">Privacy Policy</a>
          </li>
        </ul>
      </div>
      <div class="menus">
        <h1>More information</h1>
        <ul>
          <li>
            <a href="">Shipping Cancellation and Refund Policies</a>
          </li>
          <li>
            <a href="">Refer a Friend (Coming Soon)</a>
          </li>
          <li>
            <a href="">Gift Vouchers (Coming Soon)</a>
          </li>
        </ul>
      </div>
      <div class="menus Social">
        <h1>Social Media</h1>
        <ul>
          <li>
            <a href=""><i class="fa fa-facebook"></i></a>
          </li>
          <li>
            <a href=""><i class="fa fa-twitter"></i></a>
          </li>
          <li>
            <a href=""><i class="fa fa-instagram"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
