<nav class="navbar-main">
  <nav id="topnav">
    <div class="container-fluid">
      <div class="menu-top">
        <div class="left-icon">
          <h6><i class="fa fa-truck"></i> Free Delivery in Malda</h6>
        </div>
        <div class="right-icon">
          <ul>
            <li><a href="">Welcome to KiranaMarket.com</a></li>
            <li><a href="">Sing IN</a></li>
            <li><a href="">Contact Us</a></li>
            <li><a href="">Create Account</a></li>
          </ul>
          <ul class="social-icon">
            <li>
              <a href="" class="fb"><i class="fa fa-facebook"></i></a>
            </li>
            <li>
              <a href="" class="tw"><i class="fa fa-twitter"></i></a>
            </li>
            <li>
              <a href="" class="in"><i class="fa fa-instagram"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
  <nav class="bottom-menu">
    <div class="container-fluid">
      <div class="menu-bottom">
        <div class="logo">
          <img
            src="https://www.kiranamarket.com/pub/media/logo/stores/1/KiranaMarket_Logo_15093.png"
            alt=""
          />
        </div>
        <div class="search">
          <form class="d-flex">
            <input
              class="form-control me-2"
              type="search"
              placeholder="Search"
              aria-label="Search"
            />
            <button class="btn btn-outline-success" type="submit">
              Search
            </button>
          </form>
        </div>
        <div class="account-menu">
          <div class="account">
            <i class="fa fa-user"></i>
            <div class="name">
              <p>Welcome</p>
              <h5>My Account</h5>
            </div>
          </div>
          <div class="cart">
            <i class="fa fa-home"></i>
            <div class="name">
              <p>Shopping Cart</p>
              <h5>$0.00</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
</nav>
<nav class="navbar navbar-expand-lg navbar-light bg-light menu-fix">
  <div class="container-fluid">
    <div class="menu-main">
      <div class="collapse navbar-collapse menu-drop" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdownMenuLink"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              <mat-icon>menu</mat-icon> All Departments
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="number">
        <h2><i class="fa fa-phone"></i> +91-6294467292</h2>
      </div>
    </div>
  </div>
</nav>
